<!-- content 
			================================================== -->
		<div id="content">
			<div class="inner-content">
				<div class="portfolio-page">
					<div class="portfolio-box">

                        {{#each posts}}
                            <div class="project-post {{tag}}">
                                <img class="lazy" src={{thumb}}>
                                <div class="hover-box">
                                    <div class="project-title">
                                        <h2>{{title}}</h2>
                                        <span>更新于: {{dateString}}</span>
                                        <div><a href="/posts/{{_id}}"><i class="fa fa-arrow-right"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
					</div>
				</div>
			</div>
		</div>
		<!-- End content -->

	</div>
	<!-- End Container -->

